[[source]]
url = "https://pypi.tuna.tsinghua.edu.cn"
verify_ssl = true
name = "pypi"

[packages]
tortoise-orm = "*"

[dev-packages]
aiomysql = "*"
autopep8 = "*"
cryptography = "*"
faker = "*"
fastapi = "*"
pytest = "*"
tortoise-orm = "*"
uvicorn = "*"

[requires]
python_version = ">=3.7"
